.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(106, 200, 243, 0.363);
    background-repeat: repeat;
    padding: 5vw; 
    --md-filled-text-field-container-color: #ffffff;
    --md-filled-text-field-focus-active-indicator-color: black;
    --md-filled-text-field-container-shape: 0px;
    font-family: arial;
}
.btn {
    /* display: flex; */
    justify-content: center; 
    width: 15vw;
    --md-filled-button-container-shape: 0px;
    --md-filled-button-container-color: rgb(0, 0, 0);
    --md-filled-button-label-text-color: white;
    --md-filled-button-hover-label-text-color: rgba(250, 235, 215, 0.747);
}
.btnBox {
    align-items: center;
    text-align: center;
}
.textField {
    display: block;
    /* padding: 2vw; */
    margin: 2vw;
    width: 15vw;
    justify-content: center; 
}
.textBox {
    align-items: center;
    text-align: center;  
}
.header {
    text-align: center;
    text-size-adjust: 10vw;

}
.progBar {
    --md-circular-progress-size: 40vw;
    --md-circular-progress-active-indicator-color: rgba(106, 200, 243, 0.363);
    /* --md-circular-progress-active-indicator-width: ; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-large ;
}
.tabs {
    --md-primary-tab-container-color: rgba(106, 200, 243, 0.363);
    --md-primary-tab-active-indicator-color: black;
    --md-primary-tab-label-text-font: arial;
    --md-primary-tab-label-text-weight: bold;
}
.slider {
    --md-slider-active-track-color:black;
    --md-slider-inactive-track-color:rgba(106, 200, 243, 0.363);
    --md-slider-handle-color:black;
    --md-slider-hover-handle-color: rgba(106, 200, 243, 0.363);
    --md-slider-label-container-color: black;
    --md-slider-pressed-handle-color: black;
    --md-slider-focus-handle-color: rgba(106, 200, 243, 0.363);
    height: 30vh;
    width: 40vw;
}
.floatBtn {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);  
}
.fl {
    size: 5vh;
}
body {
    background-color: antiquewhite;

}